@import "styles/breakpoints";

.component {
  color: var(--wpe--header--color);
  background-color: var(--wpe--header--background-color);
  position: relative;
  z-index: 5; // Pull dropdown menus to the foreground to sit above <Main />.
}

.front-page-component {
  height: 103vh;
  background-color: black;
  position: relative;
  z-index: 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 6rem 4rem 6rem;
  gap: 1rem;
  background-color: black;
  color: white;
  width: 100vw;
}

.front-page-navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 14.95rem 1rem 17rem;
  color: white;
  width: 100vw;
}

.brand {
  font-weight: var(--wpe--font-weight--bold);
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.front-page-brand {
  font-weight: var(--wpe--font-weight--bold);
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  text-decoration: none;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.front-page-title {
  display: none;
}

.sub-logo-title {
  padding-left: 0.25rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.15rem;
}

.front-page-sub-logo-title {
  padding-top: 0.65rem;
  padding-left: 0.25rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.15rem;
  scale: 1.5;
}

.front-page-logo {
  width: 90vw;
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}

.description {
  margin: 0.3rem 0 0 0;
  font-size: 0.8rem;
  opacity: 0.9;
}

.nav-toggle {
  align-items: center;
  border: 0.1rem solid var(--wpe--color--white);
  color: var(--wpe--color--black);
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in;
  user-select: none;
  font-size: 2rem;

  &:hover,
  &:focus {
    background-color: var(--wpe--color--white);
    color: var(--wpe--color--black);
  }

  @media (min-width: $breakpoint-small) {
    display: none;
  }
}

.front-page-nav-toggle {
  align-items: flex-end;
  border: 0.1rem solid var(--wpe--color--white);
  color: var(--wpe--color--black);
  cursor: pointer;
  display: flex;
  margin: 0;
  transition: all 0.2s ease-in;
  user-select: none;
  font-size: 2rem;

  &:hover,
  &:focus {
    background-color: var(--wpe--color--white);
    color: var(--wpe--color--black);
  }

  @media (min-width: $breakpoint-small) {
    display: none;
  }
}

.primary-navigation {
  display: none;
  width: 100%;

  cursor: pointer;

  &.show {
    display: block;
  }

  @media (min-width: $breakpoint-small) {
    display: block;
    width: auto;
  }
}

.front-page-down-waypoint {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 30%;
  padding-bottom: 3rem;

  animation: oscillate 1.5s ease-in-out infinite;
}

@keyframes oscillate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.75rem);
  } // Moves up slightly
  100% {
    transform: translateY(0);
  }
}

@media (max-width: $breakpoint-medium) {
  .navbar {
    padding: 3rem !important;
  }
  .front-page-navbar {
    padding: 4rem;
  }
}

.full-width-page-header {
  padding: 1rem 6rem 2.5rem 6rem;
  color: white;
  text-decoration: none;
  min-height: 8rem;
  font-size: 6rem;
  display: flex;
  align-items: flex-end;
  vertical-align: bottom;
  margin-bottom: -1.5rem;
  font-size: 96px;
  font-weight: 400;
  text-transform: uppercase;
  span {
    margin-bottom: -2.95rem;
  }
}

.vermillion-bg {
  background-color: var(--vermillion);
}

.indigo-bg {
  background-color: var(--indigo);
}
