@import "styles/breakpoints";

.component {
  color: var(--wpe--header--color);
  background-color: var(--wpe--header--background-color);
  position: relative;
  z-index: 2; // Pull dropdown menus to the foreground to sit above <Main />.
}

.front-page-component {
  height: 105vh;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 6rem 1rem 6rem;
  gap: 1rem;
  background-color: black;
  color: white;
  width: 100vw;
}

.front-page-navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 14.5rem 0rem 17rem;
  color: white;
  width: 100vw;
}

.brand {
  font-weight: var(--wpe--font-weight--bold);
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.front-page-brand {
  font-weight: var(--wpe--font-weight--bold);
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  text-decoration: none;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.front-page-title {
  display: none;
}

.sub-logo-title {
  padding-left: 0.25rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.15rem;
}

.front-page-sub-logo-title {
  padding-top: 0.65rem;
  padding-left: 0.25rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.15rem;
}

.front-page-logo {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}

.description {
  margin: 0.3rem 0 0 0;
  font-size: 0.8rem;
  opacity: 0.9;
}

.nav-toggle {
  align-items: center;
  border: 0.1rem solid var(--wpe--color--white);
  color: var(--wpe--color--black);
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in;
  user-select: none;
  font-size: 2rem;

  &:hover,
  &:focus {
    background-color: var(--wpe--color--white);
    color: var(--wpe--color--black);
  }

  @media (min-width: $breakpoint-small) {
    display: none !important;
  }
}

.front-page-nav-toggle {
  align-items: flex-end;
  border: 0.1rem solid var(--wpe--color--white);
  color: var(--wpe--color--black);
  cursor: pointer;
  display: flex;
  margin: 0;
  transition: all 0.2s ease-in;
  user-select: none;
  font-size: 2rem;

  &:hover,
  &:focus {
    background-color: var(--wpe--color--white);
    color: var(--wpe--color--black);
  }

  @media (min-width: $breakpoint-small) {
    display: none !important;
  }
}

.primary-navigation {
  display: none;
  width: 100%;

  &.show {
    display: block;
  }

  @media (min-width: $breakpoint-small) {
    display: block;
    width: auto;
  }
}

.front-page-down-waypoint {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 30%;
  padding-bottom: 3rem;
}
