@import "styles/breakpoints";

.component {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  //padding: var(--wpe--content-container--padding-x-y);
  border-radius: 40px 0px 0px 0px;
}

.front-page-container {
  padding-top: 3rem;
  // padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(to bottom, white 30%, black 30%);
  height: fit-content;
  min-height: 60vh;

  .header-and-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--wpe--content-container--padding-x-y);
    //padding: 3rem 4rem 1rem;

    //padding-bottom: 1rem;
    h3,
    p {
      width: 50%;
    }

    h3 {
      text-transform: uppercase;
      font-size: 2.25rem;
    }
    p {
      padding-left: 1em;
    }
  }

  div.carousel,
  div.featured-artists,
  div.browse-by {
    filter: invert(1);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  div.featured-artists.header-and-desc {
    padding-bottom: 1rem;
  }

  //div.featured-artists,
  //div.browse-by {
  //  border-top: 1px solid black;
  //}

  div.featured-artists,
  div.browse-by {
    position: relative;
  }

  div.featured-artists:before,
  div.browse-by:before {
    content: "";
    display: block;
    width: 90vw;
    height: 1px;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    top: -1px;
  }

  div.browse-by {
    padding-bottom: 2rem;
  }
}

@media (max-width: $breakpoint-large) {
.front-page-container {
  div.featured-artists:before, div.browse-by:before {
    left: 50%;
    width: calc(90vw - 5vw);
    transform: translateX(-50%);
  }
}
}

@media (max-width: 650px) {
  .front-page-container {
    .header-and-desc {
      flex-direction: column;
      padding: 0 3rem 1rem;
      h3 {
        width: 100%;
      }
      p {
        width: 100%;
        padding-left: 0;
      }
    }
    div.featured-artists:before, div.browse-by:before {
      left: 50%;
      width: calc(90vw - 5vw);
      transform: translateX(-50%);
    }
  }
}
