.Carousel {
  display: flex;
  flex-direction: column;
  overflow-y: none;
  width: 100%;
  position: relative;

  .carousel-controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1.25rem;

    button {
      background: none;
      border: none;
    }
  }

  .carousel-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    scrollbar-width: none; // Hide scrollbar in Firefox
    margin-left: -125px;
    margin-right: -125px;
    padding: 0 125px;
    padding-bottom: 1rem;
  }
}

.front-page-carousel {
  color: white;
  padding-bottom: 0.5rem;

  small {
    color: white;
  }
}
