.Carousel {
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow-y: none;

  .carousel-controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1.25rem;

    button {
      background: none;
      border: none;
    }
  }

  .carousel-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 1.5rem !important;
  }
}

.front-page-carousel {
  color: white;
  padding-bottom: 0.5rem;

  small {
    color: white;
  }
}
