.Carousel {
  display: flex;
  flex-direction: column;
  overflow-y: none;
  width: 100%;
  position: relative;

  .carousel-controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1.25rem;
    padding: var(--wpe--content-container--padding-x-y);

    button {
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
        scale: 1.2;
      }

      &:disabled {
        cursor: not-allowed;
        scale: 1;
      }
    }
  }

  .carousel-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    scrollbar-width: none; // Hide scrollbar in Firefox
    //margin-left: -125px;
    //margin-right: -125px;
    //padding: 0 125px;
    //padding-bottom: 1rem;
    padding: 1rem 0 1rem 6rem;
  }

  @media (max-width: 650px) {
    .carousel-controls {
      padding: 0 3rem;
    }
    .carousel-items {
      padding: 0 3rem;
    }
  }
}

.front-page-carousel {
  color: white;
  padding-bottom: 0.5rem;

  small {
    color: white;
  }
}
