.InThisProjectSection {
  padding-top: 1rem;
  h2 {
    margin-bottom: 1rem;

    small {
      color: var(--light-grey-small-text);
      text-align: right;

      font-family: Gotham;
      font-size: 14px;
      font-weight: 325;
    }
  }
  .in-this-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    flex-wrap: none;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: -3.5rem;

    .in-this-project-carousel {
      width: 100%;
      height: auto;
    }
  }
}

.in-this-project-carousel-wrapper {
  position: relative;
  width: 100%;
  .in-this-project-carousel {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 0 3rem;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
    img {
      height: 200px;
      width: auto;
      cursor: pointer;
      background: none;
      max-width: 100%;
      @media (max-width: 600px) {
        height: 120px;
      }
    }
  }
  .carousel-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    @media (max-width: 600px) {
      display: none;
    }
  }
  .scroll-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
}
