.InThisProjectSection {
  padding-top: 1rem;
  h2 {
    margin-bottom: 1rem;

    small {
      color: var(--light-grey-small-text);
      text-align: right;

      font-family: Gotham;
      font-size: 14px;
      font-weight: 325;
    }
  }
  .in-this-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    flex-wrap: none;
    height: 30rem;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: -3.5rem;

    .in-this-project-carousel {
      width: 100%;
    }
  }
}
