.component {
  color: var(--wpe--main--color);
  background-color: var(--wpe--main--background-color);
  padding: var(--wpe--content-container--padding-x-y);
  width: 100%;
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.main-top-padding-bg {
  height: 2.5rem;
  background-color: black;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.main-top-padding-bg-light {
  background-color: white !important;
}

.main-top-padding-fg {
  background-color: white;
  z-index: 1;
  border-top-left-radius: 40px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 2.5rem;
}

.main-top-padding-fg-dark {
  background-color: black !important;
}

.front-page-main {
  padding: 0;
  position: relative;
  z-index: 1;
  height: fit-content;
  background-color: black;
}
