@import "styles/breakpoints";

.component {
  color: var(--wpe--footer--color);
  background: var(--wpe--footer--background-color);
  padding: 10rem 6rem 3rem 6rem;
  height: 50vh;
  bottom: 0;
  color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-left-radius: 40px;
  position: relative;
  z-index: 1;
  margin-top: -2.25rem;
}

.front-page-footer {
  background-color: white;
  color: black;
  height: 50vh;
  z-index: 2;

  img {
    filter: invert(1);
  }
}

.newsletter-btn-dark {
  border: 1px solid black !important;
}

.newsletter-btn-light {
  border: 1px solid white;
  background-color: black;
  color: white;

  &:hover {
    background-color: white !important;
    color: black !important;
  }
}

.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4.5rem;
  .newsletter-btn {
    width: fit-content;
    border-radius: 20px;
    padding: 8px 18px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
      border: 1px solid black;
    }
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .footer-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .copyright {
    text-align: center;
  }
}

@media (max-width: $breakpoint-xx-small) {
  .component {
    padding: 10rem 1.25rem 3rem 1.25rem;
  }
}
