.component {
  color: var(--wpe--footer--color);
  background: var(--wpe--footer--background-color);
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  background: #000;
  color: #fff;
  width: 100vw;
}

.copyright {
  text-align: center;
}
