
@media (max-width: $breakpoint-extra-small) {
  .artist-page {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: $breakpoint-xx-small) {
  .artist-page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}