.search-bar {
  padding: var(--wpe--content-container--padding-x-y);
  background-color: var(--wpe--main--color);
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .search-and-icon {
    display: flex;
    align-items: center; /* Center input and button vertically */
    position: relative;
    width: 100%;
    margin: 0 auto;
    &.front-page-search-and-icon {
      width: 70% !important;
    }
  }

  form {
    width: 100%;
    input {
      height: 4rem;
      width: 100%;
      font-size: 1.25rem;
      padding: 0 1.5rem; /* Leave space for the button */
      border-radius: 3.25rem;
      margin: 0 auto;
    }
  }

  &.front-page-search-bar {
    background-color: transparent;
    .filter-pills {
      display: none;
    }
  }

  .search-btn {
    position: absolute; /* Position it absolutely within the container */
    right: 1rem; /* Align it to the right of the container */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for perfect vertical centering */
    z-index: 1; /* Ensure it's above the input */
    height: 3rem; /* Match button height to the input field */
    width: 3rem; /* Square button */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
  }

  .filter-pills {
    display: flex;
    flex-direction: row;
    padding-top: 2.5rem;
    justify-content: space-between;

    .main-filters {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
    }
    .pill-btn {
      color: white;
      background-color: var(--dark-grey);
      width: fit-content;
      border-radius: 19.991px;
      padding: 7.996px 17.992px;
      font-size: 0.8rem;
      &:hover {
        cursor: pointer;
      }
    }

    .sort-btn {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
    }
  }
}

.Search {
  padding: 3rem 0rem;
  width: 100%;
  height: fit-content;
  min-height: 80vh;
  max-width: 1320px;

  .results {
    width: 100%;
    small {
      font-family: "Gotham", sans-serif;
      font-size: 0.85rem;
      font-weight: 400;
    }

    .results-container {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap; /* Allows items to wrap to the next row */
      gap: 1rem; /* Adjust spacing between items */
    }
  }
}
