.Search {
  width: 100%;

  form {
    width: 100%;
    height: fit-content;

    input {
      height: 5rem;
      width: 100%;
      font-size: 2rem;
      padding: 1rem 2rem;
      border-radius: 3.25rem;
      border: 2px solid #000;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:focus-visible {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
