// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

// default scss imports
@import "breakpoints";
@import "css-variables";
@import "base";
@import "blocks";
@import "utilities";

// custom scss imports
@import "Search";
@import "People";
@import "AssetPage";
@import "About";

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Flaviotte";
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

body,
input[type="text"] {
  font-family: "Gotham", sans-serif;
}

.external-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  a {
    padding: 8px 12px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid black;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      color: white;
      background: black;

      img,
      svg {
        filter: invert(1);
      }
    }
  }
}

.external-links-light {
  a {
    border: 1px solid white;

    &:hover {
      color: black;
      background: white;

      img,
      svg {
        filter: invert(1);
      }
    }
  }

  img,
  svg {
    filter: invert(1);
  }
}
