.ContainerHeader {
  a.eyebrow-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* Body Header */
    font-family: Gotham;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.8px; /* 156.667% */
    text-transform: uppercase;
    text-decoration: none;

    margin-bottom: 1rem;

    span {
      margin-left: 1rem;
    }
  }

  .container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 3rem;
    margin-bottom: 2rem;

    .left-column,
    .right-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .left-column {
      width: 60%;

      .description {
        padding-bottom: 3rem;
      }

      .tags {
        small {
          font-family: "Gotham", sans-serif;
          font-weight: 600;
          text-transform: uppercase;
        }

        .tag-container {
          padding-top: 1.25rem;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          gap: 1rem;

          a {
            background-color: var(--light-grey);
            padding: 8px 12px;
            border-radius: 20px;
            text-decoration: none;
          }
        }
      }
    }

    .right-column {
      width: 30%;

      .meta-data {
        padding-bottom: 1rem;
        small {
          font-family: "Gotham", sans-serif;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      .external-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;

        a {
          padding: 8px 20px;
          border-radius: 20px;
          text-decoration: none;
          border: 1px solid black;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
        }

        img,
        svg {
          padding: 0 0 0 1rem !important;
        }
      }
    }
  }
}
